@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
    background-color: #FFE4E1;
  }
  .linkformtable{
    text-align: center;
  }

  #menu {
    text-align: center;
    display: flex;
    background-color:#80007F;
    border-radius: 0px 0px 10px 10px;
  }
 
  footer b {
    padding-left: 20px;
  }
  #menu a {
    color:  #fff;
    display: inline-block;
    font-size: 15px;
  }

  .header {
    display: flex;
    height: 70px;
    text-align: center;
    background: #BC8F9D;
    color: #fff;
  }
  
  a, a:hover{
    text-decoration: none;
    color:#FFE4E1;;
  }

  .header h1{
    display: inline-block;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    line-height: 65px;
  }
  .form{
    background-color: #DB706E	;
    line-height: 27px;border-radius: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
 @media (min-width: 960px){
   body{
     align-items: center;
   }
   #menu {
    flex-direction: row;
  }
  .header{
    display: flex;
  }
  #site{
    font-size: 40px;
    margin-left: 300px;
  }
  th{
    padding: 10px;
  }
  td{
    padding: 10px;
  }
  #buttonLogIn {
    color: #ff0a78;
    font-weight: 700;
  }
.error {
	border: 2px solid red;
}
  footer{
    background-color: #BC8F9D;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
    width: 100%;
  }
  }
